<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <!--Body content-->

            <div class="row">
                <label>I need...</label>
                <input type="text" ng-model="need.description"/><br/>
            </div>
            <div class="row">
                <label>Skills needed:</label>
                <input class="large-4 medium-4" type="text" ng-model="need.skills"/><br/>
            </div>
            <div class="small-6 large-centered columns">
                <ul class="button-group round">
                    <button class="small success button" ng-click="unpaid()">HEART</button>
                    <button class="small alert button" ng-click="paid()">MONEY</button>
                </ul>
            </div>
        </div>
    </div>
</div>
