<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <!--Body content-->

            <form class="simple-form">
                I need... <input type="text" ng-model="need.description" /><br />
                Skills needed: <input type="text" ng-model="need.skills" /><br />
                <button class="small success round button" ng-click="unpaid()">HEART</button>
                <button class="small alert round button" ng-click="paid()">MONEY</button>
            </form>

        </div>
    </div>
</div>
